<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Registrar</ion-title>
	</ion-toolbar>
  </ion-header>

<ion-content class="background">
	<!-- <h1 class="titulo">Crear Cuenta</h1> -->
	<!-- <img src="../../../assets/imgs/background/iconoPerfil.jpg" width="150px" height="150px"> -->
<form [formGroup]="jugadorForm" (ngSubmit)="crearJugador()">

  	<ion-item class="box">
		<ion-input 
		pattern="[a-zA-Z ]*"
		formControlName="nombrereg" 
		type="text"
		placeholder="Ingresa tu nombre" 
		color= "black"
		clear-input
		required>
		</ion-input>
	</ion-item>

	<ion-item class="box">
		<ion-input 
		formControlName="usuario" 
		type="email" 
		minlength="10"
		placeholder="Correo electrónico"
		required>
		</ion-input>
	</ion-item>

	<ion-item class="box">
		<ion-input 
		formControlName="contrareg" 
		type="password"
		placeholder= "Contraseña"
		color= "black"
		clear-input
		required>
		</ion-input>
	</ion-item>

	<ion-row>
		
	<div class="icon">
		<ion-icon name="calendar-outline"></ion-icon>
	</div>

	<ion-col>
		<div class="box box-fecha">
			<ion-datetime 
			formControlName="fnacimiento" 
			display-format="DD/MM/YYYY"
			placeholder="Fecha de nacimiento"
			required>
			</ion-datetime>
		</div>
	</ion-col>

	</ion-row>

	<ion-item class="box">  
		<ion-select
		formControlName="ubicacion" 
		placeholder="Seleccionar localidad"
		required>
			<ion-select-option *ngFor="let localidad of localidades">
				{{localidad}}
			</ion-select-option>
		</ion-select>
	</ion-item>


	<ion-item class="box">  
		<ion-select  
		formControlName="sexo" 
		placeholder="Elegir sexo"
		required>
			<ion-select-option *ngFor="let sexo of sexos" >
				{{sexo}}
			</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-row>

	<ion-col>
		<ion-button
		[disabled]="!jugadorForm.valid"
		type="submit" 
		color="warning" 
		expand="block">	{{cargando ? "CARGANDO..." : "REGISTRAR" }}</ion-button>
	</ion-col>
	
	</ion-row>

</form>

</ion-content>