form {
	margin-top:22%
}

.label-stacked.sc-ion-label-md-h, .label-floating.sc-ion-label-md-h{
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

.list-md {
  padding-top: 10px;
  padding-bottom: 10px;
} 




