<ion-header>
  <ion-toolbar>
    <ion-title>registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h1 class="titulo">Crear Perfil</h1>
  <center><img src="../../../assets/imgs/background/iconoPerfil.jpg" width="150px" height="150px"></center>

<form #formulario="ngForm" (ngSubmit)="crearPerfil">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" required></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>

    <ion-col>
      <div class="fecha">
        <ion-datetime 
        [(ngModel)]="fechaNacimiento" required
        placeholder="Fecha de Nacimiento"
        display-format="DD/MM/YYYY">
        </ion-datetime>
      </div>
    </ion-col>
    <div class="fechaNaci">
      <ion-icon name="calendar-outline"></ion-icon>
    </div>

  </ion-row>

  <ion-list>
    <ion-radio-group value="biff">
      <center>
      <div class="sexo">
        <ion-label>Hombre</label>
        <ion-radio ion-item-left slot="sexo" value="hombre"></ion-radio>
      </div>
      <div>
        <ion-label>Mujer</ion-label>
        <ion-radio slot="sexo" value="Mujer"></ion-radio>
      </div>
      <div>
      <ion-label>No binario</ion-label>
      <ion-radio  slot="sexo" value="No binario"></ion-radio>
      </div>
    </ion-radio-group>
      </center>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Localidad</ion-label>
        <ion-input type="text" [(ngModel)]="localidad" required></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
        <center><ion-button ion-button block (click)="registrarPerfil(formulario)">
          Crear
        </ion-button></center>
    </ion-col>
  </ion-row>
</form>
</ion-content>