<ion-header>
  <ion-toolbar>
    <ion-title>Ayuda</ion-title>
    <ion-button class="boton" slot="end" (click)="cerrarModal()" style="margin-right:10px">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h1>¡Pago procesado!</h1>
  <p>El pago fue realizado satisfactoriamente gracias al método de pago almacenado en el dispositivo.</p>
  <p>En caso de abandonar la sala, se reembolsará el pago nuevamente a la cuenta de tu entidad financiera.</p>
  <p>Recordá que ante cualquier inconveniente, podés comunicarte con nuestro soporte enviando un correo electrónico a soporte@faltauno.com.ar o llamando a la línea directa al 0800-199-0600.</p>
  <ion-button class="boton-ok" color="success" (click)="cerrarModal()">
    OK GRACIAS <ion-icon id="logo-usd" name="card"></ion-icon>
  </ion-button>
</ion-content>

