// SECCIÓN PARA CARD DEL PERFIL DEL JUGADOR

.circle-4-crest {
	color: #222;
	position: absolute;
	font-size: 135px;
	top: 70px;
}
#circle-left {
	left: -55px;
} 
#circle-right {
	right: -55px;
}

.blk-crest-pic {
	height: 10rem;
	display: flex;
	justify-content: space-around;
    margin: 0 4%;
    padding: 0 0;
    background: linear-gradient(0deg, rgb(212, 212, 212) 0%, rgba(255,255,255,1) 100%);
    border-radius: 50% 50% 0 0;
}

.bg-laplata { background: url('../../../assets/imgs/localidades/01-la_plata.jpg') 0 0/100% 100% no-repeat; }
.bg-berisso { background: url('../../../assets/imgs/localidades/02-berisso.jpg') 0 0/100% 100% no-repeat; }
.bg-ensenada { background: url('../../../assets/imgs/localidades/03-ensenada.jpg') 0 0/100% 100% no-repeat; }

#perfil-pic {
	display: inline-block;
	height: 9rem;
	width: 9rem;
	color: #222;
	border-radius: 50%;
}

.icon {
	height: 26px;
	width: 26px;
	display: block;
	color: red;
}


.blk-crest-body {
	height: 8rem;
	margin: auto 4%;
	padding: auto 0px;
	background: radial-gradient(circle, rgb(255, 239, 188) 30%, rgb(241, 255, 162) 80%);
	font-weight: bold;
	border-radius: 0;
}
.blk-crest-body h3, .blk-crest-body h2 {
	padding: 0;
	margin: 0;
}
.blk-crest-nombre{
	font-size: 1.8rem;
}
.blk-crest-body-icon {
	display: flex; 
	justify-content: space-evenly; 
	padding: 0px 26%;
}

hr {
	width: 60%;
	border-width: 0px;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
}

#icon-hombre { color: rgb(80, 172, 80); }
#icon-mujer { color: #d86315; }
#icon-nobin { color: #b452b4; }




// SECCIÓN DE ÚLTIMO PARTIDO Y VALORACIÓN

.blk-last {
	height: 11rem;
	margin: 0 4% 0 4%;
    padding: 1% 0 0 0;
	font-size: 20px;
	background: radial-gradient(circle, #555 30%, #373737 90%);
	border-radius: 0px 0px 5px 5px;
}
#last-resultado {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 2.5rem;
	font-family: 'Rubik', sans-serif;
}

.stars{
	display: flex;
	padding: 0px 15%;
	justify-content: space-around;
}
.star {
	width: 30px;
  	text-align: center;
}

