:host {
  ion-content.background{
    --background: url('../../../assets/imgs/background/inicio-bg.jpg') 0 0/100% 100% no-repeat;
    //--background: rgb(0,0,0); 
    //--background: linear-gradient(150deg, rgba(0,0,0,1) 0%, rgba(41,0,97,1) 12%, rgba(0,0,0,1) 26%, rgba(23,0,55,1) 35%, rgba(0,0,0,1) 44%, rgba(36,4,84,1) 59%, rgba(0,0,0,1) 72%, rgba(18,0,55,1) 85%, rgba(0,0,0,1) 100%);
  }
}

.stars{
  display: flex;
  padding-left: 25%;
}

.datos{
  margin-bottom: 0px;
  margin-left: 50%;
  margin-top: 10%;
  font-size: 20px;
}

.star {
	width: 30px;
  text-align: center;
}

#profilePic {
	width: 30%;
  float: left;
  margin-left: 30px;
}
.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.estadio{
  position:relative;
  height: 100%;
  width: 90%;
  border-radius: 20px;
}

#resultado{
  position: absolute;
  top: 0;
  visibility: visible;
  color: white;
  margin-top: 25%;
  margin-bottom: 15px;
  margin-left: 35%;
  font-size: 40px;
}

.titulo{
  font-size: 30px;
  text-align: center;
}

.estadisticas{
  text-align: center;
  font-size: 20px;
}