<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Perfil</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">

	<div class="perfil-container">
		<div class="opcion-card" (click)="irAlEditar()">
			<ion-icon class="perfil-icon" name="brush"></ion-icon>
			<p>Editar</p>
		</div>
		<div class="opcion-card" (click)="irAlInicio()">
			<ion-icon class="perfil-icon" name="home"></ion-icon>
			<p>Inicio</p>
		</div>
		<div class="opcion-card" (click)="irAlHistorial()">
			<ion-icon class="perfil-icon" name="list"></ion-icon>
			<p>Historial</p>
		</div>
	</div>

	<ion-icon class="circle-4-crest" id="circle-left" name="ellipse"></ion-icon>
	<ion-icon class="circle-4-crest" id="circle-right" name="ellipse"></ion-icon>

	<div class="blk-crest-pic" id="blk-crest-header">
		<ion-icon id="perfil-pic" name="person-circle-outline"></ion-icon>
	</div>
	<div class="blk-crest-body">
		<div>
			<h2 class="blk-crest-nombre"><b>{{ jugador.nombre }}</b></h2>
			<hr>
			<div class="blk-crest-body-icon">
				<ion-icon class="icon" [name]="nameIcon" [id]="idColor" ></ion-icon>
				<h3>{{ edad }} años </h3>
			</div>
			<hr>
			<div class="blk-crest-body-icon">
				<ion-icon class="icon" name="location"></ion-icon>
				<h3>{{ jugador.ubicacion }}</h3>
			</div>
		</div>
	</div>

	<div class="blk-card blk-last">
		<h3>Último partido</h3>
		<h3 id="last-resultado">{{ partido.resultado }}</h3>
		<h3>Valoración</h3>
		<div class="stars">
			<div *ngFor="let star of stars">
				<img *ngIf="star === 'full'" class="star" [src]="'/assets/stars/star-full.png'">
				<img *ngIf="star === 'half'" class="star" [src]="'/assets/stars/star-half.png'">
				<img *ngIf="star === 'null'" class="star" [src]="'/assets/stars/star-null.png'">
			</div>
			<span class="valoracion">({{ valoracion }})</span>
		</div>
	</div>

	
</ion-content>