// SECCIÓN PARA CARD DEL PERFIL DEL JUGADOR

.blk-crest-pic {
	display: flex;
	justify-content: space-around;
    margin: 10px 4% 0px 4%;
    padding: 5px 0px;
    background: rgb(180,180,180);
    background: linear-gradient(0deg, rgb(212, 212, 212) 0%, rgba(255,255,255,1) 100%);
    border-radius: 50px 50px 0 0;
}
#perfil-pic {
	display: inline-block;
	width: 100px;
	height: 100px;
	color: #222;
	border-radius: 50%;
}

.icon {
	height: 26px;
	width: 26px;
	display: block;
	color: red;
}


.blk-crest-body {
	margin: 0px 4% 10px 4%;
	padding: 5px 0px;
	background: rgb(206, 192, 132);
	font-weight: bold;
	border-radius: 0 0 5px 5px;
}
.blk-crest-body h3 {
	padding: 0;
	margin: 0;
}
.blk-crest-body-icon {
	display: flex; 
	justify-content: space-evenly; 
	padding: 0px 30%;
}

hr {
	width: 60%;
	border-width: 0px;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
}

#icon-hombre { color: rgb(80, 172, 80); }
#icon-mujer { color: #d86315; }
#icon-nobin { color: #b452b4; }




// SECCIÓN DE ÚLTIMO PARTIDO Y VALORACIÓN

#last-resultado {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-family: 'Rubik', sans-serif;
}

.stars{
	display: flex;
	padding: 0px 15%;
	justify-content: space-around;
}
.star {
	width: 30px;
  	text-align: center;
}
.valoracion {
	font-size: 24px;
	background: rgb(153, 153, 153);
}




// SECCIÓN PARA LOS ACCESOS DEL PERFIL

#perfil-container {
	display: flex;
	padding: 1% 2%;
}

.perfil-icon {
	width: 40px;
	height: 40px;
	padding: 0;
	color: #222;
}