<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>Sala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
	
  <ion-row class="lists-container">
    <ion-col>
      <ion-list class="blk-halfcard" lines="none">
        <ion-item class="halflist hl-left" *ngFor="let jugador of equipoRed">
          <div>
            <div [class.jugador-vacio]="jugador.nombre == ' (vacío) '" id="nombre-jugador">
              {{ jugador.nombre }}
            </div>
            <div class="stars">
              <div *ngFor="let star of jugador.stars">
                <img *ngIf="star === 'full'" class="star" [src]="'/assets/stars/star-full.png'">
                <img *ngIf="star === 'half'" class="star" [src]="'/assets/stars/star-half.png'">
                <img *ngIf="star === 'null'" class="star" [src]="'/assets/stars/star-null.png'">
              </div>
              <ion-icon 
                class="paycheck-icon"
                [class.pay-correct]="jugador.pagado == true"
                name="logo-usd">
              </ion-icon>
            </div>
          </div>  
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="blk-halfcard"lines="none">
        <ion-item class="halflist hl-right" *ngFor="let jugador of equipoBlue">
          <div>
            <div [class.jugador-vacio]="jugador.nombre == ' (vacío) '" id="nombre-jugador">
              {{ jugador.nombre }}
            </div>
            <div class="stars">
              <div *ngFor="let star of jugador.stars">
                <img *ngIf="star === 'full'" class="star" [src]="'/assets/stars/star-full.png'">
                <img *ngIf="star === 'half'" class="star" [src]="'/assets/stars/star-half.png'">
                <img *ngIf="star === 'null'" class="star" [src]="'/assets/stars/star-null.png'">
              </div>
              <ion-icon 
                class="paycheck-icon"
                [class.pay-correct]="jugador.pagado == true"
                name="logo-usd">
              </ion-icon>
            </div>
          </div> 
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

	<div class="perfil-container">
		<div class="opcion-card" (click)="irAlEditarSala()">
			<ion-icon class="perfil-icon" name="brush"></ion-icon>
			<p>Editar</p>
		</div>
		<div class="opcion-card" 
      (click)="preloadSalas()">
      
			<ion-icon class="perfil-icon" id="logo-usd" name="logo-usd"></ion-icon>
			<p>Pagar</p>
		</div>
		<div class="opcion-card" (click)="mezclarEquipos(this.equipoRed, this.equipoBlue)">
			<ion-icon class="perfil-icon" name="dice"></ion-icon>
			<p>Mezclar</p>
		</div>
	</div>

  <ion-list class="blk-halfcard"lines="none">
    <ion-item class="halflist hl-right" *ngFor="let spec of espectadores">
      <div>
        <div>
          {{ spec.nombre }}
        </div>
        <div class="stars">
          <div *ngFor="let star of spec.stars">
            <img *ngIf="star === 'full'" class="star" [src]="'/assets/stars/star-full.png'">
            <img *ngIf="star === 'half'" class="star" [src]="'/assets/stars/star-half.png'">
            <img *ngIf="star === 'null'" class="star" [src]="'/assets/stars/star-null.png'">
          </div>
          <ion-icon class="paycheck-icon" name="logo-usd"></ion-icon>
        </div>
      </div> 
    </ion-item>
  </ion-list>
  <script src = "faker.min.js" > </script>
</ion-content>
