<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center" >{{salaNombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

	<div class="perfil-container">
		<div class="opcion-card" (click)="irAlEditarSala()">
			<ion-icon class="perfil-icon" name="brush"></ion-icon>
			<p>Editar</p>
		</div>
		<div class="opcion-card" (click)="mezclarEquipos(this.equipoRed, this.equipoBlue)">
			<ion-icon class="perfil-icon" name="dice"></ion-icon>
			<p>Mezclar</p>
		</div>
		<!--div class="opcion-card" (click)="abrirModal()"-->
    <div class="opcion-card" (click)="irAlPartido()">
			<ion-icon class="perfil-icon" name="help"></ion-icon>
			<p>Ayuda</p>
		</div>
	</div>

  <ion-row class="lists-container">
    <ion-col>
      <ion-list class="blk-halfcard" lines="none">
        <ion-item class="halflist hl-left" *ngFor="let jugador of equipoRed">
          <div>
            <div [class.jugador-vacio]="jugador.nombre == ' (vacío) '" id="nombre-jugador">
              {{ jugador.nombre }}
            </div>
            <div class="stars">
              <div *ngFor="let star of jugador.stars">
                <img *ngIf="star === 'full'" class="star" [src]="'/assets/stars/star-full.png'">
                <img *ngIf="star === 'half'" class="star" [src]="'/assets/stars/star-half.png'">
                <img *ngIf="star === 'null'" class="star" [src]="'/assets/stars/star-null.png'">
              </div>
              <ion-icon 
                class="paycheck-icon"
                [class.pay-correct]="jugador.pagado == true"
                name="logo-usd">
              </ion-icon>
            </div>
          </div>  
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="blk-halfcard"lines="none">
        <ion-item class="halflist hl-right" *ngFor="let jugador of equipoBlue">
          <div>
            <div [class.jugador-vacio]="jugador.nombre == ' (vacío) '" id="nombre-jugador">
              {{ jugador.nombre }}
            </div>
            <div class="stars">
              <div *ngFor="let star of jugador.stars">
                <img *ngIf="star === 'full'" class="star" [src]="'/assets/stars/star-full.png'">
                <img *ngIf="star === 'half'" class="star" [src]="'/assets/stars/star-half.png'">
                <img *ngIf="star === 'null'" class="star" [src]="'/assets/stars/star-null.png'">
              </div>
              <ion-icon 
                class="paycheck-icon"
                [class.pay-correct]="jugador.pagado == true"
                name="logo-usd">
              </ion-icon>
            </div>
          </div> 
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <h4 class="data-sala" id="sexo">Tipo de partido: {{salaSexo}}</h4>
  <h4 class="data-sala" id="modo">Sala en modo {{salaEstado}}</h4>
  <h4 class="data-sala" id="precio">Precio de la cancha: ${{salaPrecio}}</h4>
  <h4 class="data-sala" id="direccion">Dirección: {{salaDireccion}}</h4>

	<div class="perfil-container">
		<div class="opcion-card" (click)="abandonarSala()">
			<ion-icon class="perfil-icon" name="backspace"></ion-icon>
			<p>Salir</p>
		</div>
		<div class="opcion-card" (click)="pagarMP()">
			<ion-icon class="perfil-icon" id="logo-usd" name="logo-usd"></ion-icon>
      <p>Pagar</p>
		</div>
		<div class="opcion-card" (click)="socialShare()">
			<ion-icon class="perfil-icon" name="share-social"></ion-icon>
			<p>Compartir</p>
		</div>
	</div>


  <!--div style="height: 300px; margin: 10px; margin-top: 30px">
    <app-mapa></app-mapa>
  </div-->

  <script src = "faker.min.js" > </script>
</ion-content>
