
.lists-container {
	margin: 0 auto;
	justify-content: center;
}

#precio {
	color: lime;
	font-weight: bold;
	margin-top: 0;
}

#direccion {
	height: 32px;
	color: white;
	margin-bottom: 10px;
}

.halflist {
	padding: 3px 0;
	font-family: 'Rubik', 'Karla', sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
}

.hl-left {
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(254, 210, 255) 100%);
	margin: 4% 0 4% 12%;
}

.hl-right {
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(204, 255, 208) 100%);
	margin: 4% 12% 4% 0;
}

#nombre-jugador {
    width: 7rem;
	height: 24px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	overflow: hidden;
    //text-align: center;
}

.jugador-vacio {
    color: rgb(161, 161, 161);
}

#logo-usd {
    color: lime;
}

.paycheck-icon {
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    color: rgb(182, 182, 182);
}

.pay-correct {
    background-color: lime;
    color: yellow;
}
