
.lists-container-full {
    margin: 0 auto;
    width:75%;
	justify-content: center;
    margin-top: 20px;
}

.cancha-container {
    background-color: rgb(99, 99, 99);
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.445);
    width: 70%;
    margin: auto;
    padding: 1rem;
}

.votos-flex {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
}

.data-sala {
	margin: 0;
    padding-bottom: 5px;
    color: white;
}

.cronometro-sala {
	color: white; 
	font-size: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

#sexo {
	color: pink;
}

#modo {
	color: yellow;
}

#precio {
	color: lime;
	font-weight: bold;
}

#direccion {
	height: 32px;
	color: white;
	margin-bottom: 10px;
}

.halflist {
	padding: 3px 0;
	font-family: 'Rubik', 'Karla', sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
}

#nombre-jugador {
    width: 7rem;
	height: 24px;
	display: -webkit-box;
    position: relative;
    top: 12px;
	-webkit-line-clamp: 1;
	overflow: hidden;
    //text-align: center;
}

.stars {
    position: relative;
    right: -102px;
    top: -10px;
}

.star {
    height: 24px;
    width: 24px;
}

.paycheck-icon {
	position: relative;
	right: -95px;
	top: -5px;
}

.jugador-vacio {
    color: rgb(179, 179, 179);
}

#logo-usd {
    color: lime;
}

.paycheck-icon {
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    color: rgb(182, 182, 182);
}

.pay-correct {
    background-color: lime;
    color: yellow;
}