<ion-content class="background">

	<ion-img class="logo" id="flama-logo" 
		src="../assets/flames.gif">
	</ion-img>
	<ion-img class="logo" 
		src="../assets/imgs/logo/escudo4.png">
	</ion-img>
	
<hr>
<ion-button 
class="bt-modern bt-text bt-noclicked" 
id="bt-iniciar"
(click)="irAlLogin()" 
color="transparent"
fill="clear">
INICIAR SESIÓN
</ion-button> 
<hr>
	<ion-button 
		class="bt-modern bt-text" 
		id="bt-registrar" 
		color="transparent"	
		fill="clear" 
		(click)="socialShare()">
		SHARE
	</ion-button>
<hr>
	<ion-button 
		class="bt-modern bt-text" 
		id="bt-registrar"
		(click)="irAlRegistrar()" 
		color="transparent"
		fill="clear">
		REGISTRARSE
	</ion-button>
<hr>
	<div>
		<ion-button 
			class="bt-round bt-triple bt-text" 
			id="bt-ayuda" 
			(click)="abrirModal()" 
			color="transparent"
			fill="clear">
			Ayuda
		</ion-button> 
		<ion-button 
			class="bt-round bt-triple bt-text" 
			id="bt-social" 
			(click)="irAlLoginFacebook()" 
			color="transparent"
			fill="clear">
			<ion-img id="bt-facebook" src="..\assets\imgs\icon\icon-facebook.png"></ion-img>
		</ion-button>
		<ion-button 
			class="bt-round bt-triple bt-text" 
			id="bt-social" 
			(click)="irAlLoginGoogle()" 
			color="transparent"
			fill="clear">
			<ion-img id="bt-google" src="..\assets\imgs\icon\icon-google.png"></ion-img>
		</ion-button>
	</div>
</ion-content>
