<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-img src="../assets/imgs/logo/escudo.png.png"></ion-img>
    <br>
    <ion-button class="box" size="large" color="warning" (click)="login()">Iniciar sesion</ion-button> 
    <br>
    <br>
    <div class="registroGoogle">
      <ion-button class="box button-medio button-left" size="large" color="primary" (click)="irAlCrear()">Registro</ion-button> 
      <ion-button class="box button-medio button-right" size="large" color="danger" (click)="irAlCrear()">Google</ion-button>
    </div>
    <br>
    <ion-button (click)="abrirModal()" color="dark" class="box button-ayuda" size="medium">Ayuda</ion-button>  
</ion-content>
