:host {
    ion-content.background{
      --background: none;
      background-image: url('../../../assets/imgs/background/f1_grass_background.jpg');
    }
  }

  .button-pr{
    border: none;
    color: white;
    padding-left: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button-pr2{
    padding-left: 40%;
  }