ion-img {
	margin-top: 30px;
	height: 50%;
}

#flama {
	position: absolute;
	transform: rotate(-45deg);
	top: -110px;
	left: -35px;
}

.button-left {
	margin-left: 10%;
	margin-right: 3%;
}

.button-right{
	margin-right: 10%;
	margin-left: 3%;
}

.button-ayuda {
	height: 35px;
	width: 100px;
}