:host {
  ion-content.background{
    --background:  none;
   --background: url('../../../assets/imgs/background/fondo.jpg'); 
  }
}

.titulo{
  text-align: center;
  font-size: 45px;
}

.boton1{
  width: 70%;
  margin-left: 15%;
  height: 15%;
  margin-top:40px;
  background: url('../../../assets/imgs/background/fondo.jpg');

  background-size: 100% 100%;
  border: none; 
  border-radius: 30px;
} 

.button-outline {
  --border-color: white;
  --background: transparent;
  --color: black;
  --border-radius: 30px;
}

ion-icon{
  color:white;
  font-size: 50px;
}

.boton2{
  width: 70%;
  margin-left: 15%;
  height: 15%;
  margin-top:40px;
  background: url('../../../assets/stadio-sfondo.jpg');
/*   background: url('../../../assets/vestuario.jpg'); */
  background-size: 100% 100%;
  border: none;
  border-radius: 30px;
} 
/* .button-solid {
  --background: transparent;
  --color: var(--ion-color-primary-contrast, #fff);
}  */

.texto{
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: 900;
}

h1{
  text-align: center;
  color: white;
  font-size: 16px;
}

