$yellow-text: rgba(255, 253, 116, 0.8);
$noticias-bg: rgba(255, 255, 255, 0.2);


#saludo{
	text-align: center;
	margin: 24px 7px;
	font-size: 32px;
	color: white;
	text-shadow: black 0px 0px 2px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

#titulo-noticias {
	font-size: 24px;
	color: rgb(255, 255, 255);
	text-shadow: black 0px 0px 4px;
}

#text-noticia {
	font-size: 18px;
	color: $yellow-text;
	opacity: 1;
	transition: opacity 0.35s;
}

#block-noticia {
	margin-top: 12%;
	margin-bottom: 12%;
	height: 160px;
	padding: 5px 20px 30px 20px;
	background: $noticias-bg;
	backdrop-filter: blur( 2px );
	-webkit-backdrop-filter: blur( 2px );
}

.hide {
	opacity: 0 !important;
}

