<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

  
<ion-content class="background">
  	<h3 class="titulo">¡Hola{{nombre}}!</h3>

	<ion-button class="boton-inicio boton1" (click)="irAlBuscar()">
		<ion-icon name="search"></ion-icon>
		<p class="texto"> salas</p>
	</ion-button>
 
	<ion-button class="boton-inicio boton2" (click)="irAlPerfil()">
		<ion-icon name="person"></ion-icon>
		<p class="texto">perfil</p>
	</ion-button>
  
	<div id="block-noticia">
		<h3 class="titulo-noticias">Noticias</h3>
		<div id="block-text">
			<ion-text id="text-noticia">
				{{noticia}}
			</ion-text>
		</div>
	</div>


</ion-content>
