<ion-header>
  <ion-toolbar>
    <ion-title>Ayuda</ion-title>
    <ion-button class="boton" slot="end" (click)="cerrarModal()" style="margin-right:10px">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h1>¿Necesitás ayuda?</h1>
  <p>Entrá a "Salas" para ver turnos de canchas disponibles y aquellos turnos creados donde aún falte gente para completar.</p>
  <p>Entrá a "Perfil" para ver estadísticas y el historial de partidos de nuestra cuenta personal, como también modificar tus datos.</p>
  <p>Los consejos diarios también están para ayudarte, y se irán renovando con el tiempo.</p>
</ion-content>

