
  
  form, input, optgroup, select{
	margin-top: 45%;
  }


  .city{
	background-color: white;
	border-radius: 10px;
	margin-bottom: 15px; 
	height: 40px;
	width: 70%;
	margin-left: 60px;
  }
  
  .box2{
	border-radius: 10px;
	margin-bottom: 15px; 
	height: 40px;
	width: 45%;
	margin-left: 28%;
	background: transparent;
	font-weight: bold;
  }
  
  .list-md {
	padding-top: 8px;
	padding-bottom: 8px;
	background: transparent;
	background-color: transparent;
  } 
  