<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Iniciar Sesión</ion-title>
	</ion-toolbar>
  </ion-header>  

<ion-content class="background">
<ion-img id="dios" 
	src="../assets/imgs/dios.png">
</ion-img>
<form [formGroup]="jugadorForm" (ngSubmit)="login()">

  	<ion-item class="i-text">
		<ion-input 
		formControlName="usuario" 
		type="email" 
		placeholder="Ingresa tu correo"
		clear-input
		required>
		</ion-input>
	</ion-item>

	<ion-item class="i-text">
		<ion-input 
		formControlName="contraseña" 
		type="password" 
		placeholder="Contraseña"
		clear-input
		required>
		</ion-input>
	</ion-item>
<hr>
	<ion-button 
		class="bt-modern bt-text" 
		id=""
		type="submit"
		[disabled]="!jugadorForm.valid"
		color="transparent"
		fill="clear">
		Confirmar
	</ion-button>
<hr>
</form>

</ion-content>