
<ion-menu menuId="slideMenu" contentId="content">>
  <ion-header>
    <ion-toolbar>
      <ion-title>Toolbar</ion-title>
    </ion-toolbar>
    <app-default-header></app-default-header>
  </ion-header>

  <ion-content id="content">
    <ion-list>
      <ion-menu-toggle slot="start">
        <ion-item button lines="none" detail="false" *ngFor="let option of options" (click)="openOptions(option)">
            <ion-label>
              {{option.title}}
            </ion-label>
          <ion-icon [name]="option.icon" slot="start"></ion-icon>
        </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>

</ion-menu>



<ion-router-outlet>
</ion-router-outlet>