<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Modificar datos</ion-title>
	</ion-toolbar>
  </ion-header>  

<ion-content class="background">

<form [formGroup]="jugadorForm" (ngSubmit)="editarJugador()">

	<ion-item class="i-text">
		<ion-input 
		pattern="[a-zA-Z ]*"
		formControlName="nombre" 
		type="text"
		placeholder="Cambiar nombre" 
		clear-input
		required>
		</ion-input>
	</ion-item>

	<ion-item class="i-text">
		<ion-datetime
		formControlName="fnacimiento" 
		display-format="DD/MM/YYYY"
		placeholder="📅 Fecha de nacimiento"
		required>
		</ion-datetime>
	</ion-item>

	<ion-item class="i-text">  
		<ion-select
		formControlName="ubicacion" 
		placeholder="🔻 Editar ciudad"
		required>
			<ion-select-option *ngFor="let localidad of localidades">
				{{localidad}}
			</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-item class="i-text">  
		<ion-select  
		formControlName="sexo" 
		placeholder="🔻 Editar sexo"
		required>
			<ion-select-option *ngFor="let sexo of sexos" >
				{{sexo}}
			</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-row class="buttons-flex">
		<div>
			<hr id="hr-descartar">
			<ion-col>
				<ion-button 
					class="bt-half bt-text-half" 
					id=""
					(click)="irAlPerfil()"
					color="transparent"
					fill="clear">
					DESCARTAR
				</ion-button>
			</ion-col>
			<hr id="hr-descartar">
		</div>
		<div>
			<hr id="hr-confirmar">
			<ion-col>
				<ion-button 
					class="bt-half bt-text-half" 
					id=""
					type="submit"
					[disabled]="!jugadorForm.valid"
					color="transparent"
					fill="clear">
					{{cargando ? "CARGANDO..." : "CONFIRMAR" }}
				</ion-button>
			</ion-col>
			<hr id="hr-confirmar">
		</div>
	</ion-row>
</form>
</ion-content>
