:host {
    ion-content.background{
      --background: none;
      background-image: url('../../../assets/imgs/background/f1_grass_background.jpg');
    }
    // ion-item{
    //   --background: none;
    // }
  }

  ion-list{
    background: none;
  }