:host {
  ion-content.background{
    --background: none;
    background: url('../../../assets/imgs/background/ucl-bg.jpg') 0/100% 100% no-repeat;
  }
}


h1{
  color: white;
  font-weight: bold;
}

p{
  font-size: 20px;
  color: white;
  text-align:center;
  text-justify: center;
  font-weight: bold;
}

