:host {
  ion-content.background{
    --background: none;
    background-image: url('../../../assets/imgs/background/fondo.jpg');
  }
}

p{
  font-size: 20px;
  margin-top: 11px;
  color: white;
  text-justify: center;
}