<ion-header>
  <ion-toolbar>
    <ion-title>Ayuda</ion-title>
    <ion-button class="boton" slot="end" (click)="cerrarModal()" style="margin-right:10px">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h1>Acerca de Falta Uno</h1>
  <p>Venimos a ayudarte a organizar partidos de fútbol, desde la falta de jugadores para completar equipos hasta los métodos de pagos.</p>
  <p>Para cada partido hay que conseguir gente, coordinar horarios, juntar rápidamente la plata, entre muchas complicaciones más.</p>
  <p>Tanto si te falta alguien para completar o si querés jugar y no tenés con quién, Falta Uno te ofrece todas estas soluciones en un solo lugar.</p>
  <p>¡Dejá de preocuparte, registrate y empezá a disfrutar del fútbol sin complicaciones!</p>
</ion-content>
