:host {
  ion-content.background{
    --background: none;
    background-image: url('../../../assets/imgs/background/fondo.jpg');
  }
}

h1{
  font-size: 25px;
  margin-top: 11px;
  text-align: center;
  color: white;
}
p{
  font-size: 20px;
  color: white;
  text-justify: center;
  text-align: center;
}