<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Partidos disponibles</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">
  <table>
    <th>
      <td>Cancha</td>
      <td>Hora</td>
      <td>Slots</td>
      <td>Sexo</td>
    </th>
    <tr *ngFor="let partido of partidos" class="blk-card">
      <td>{{ partido.cancha }} ({{ partido.direccion }})</td>
      <td>{{ partido.hora }}</td>
      <td>{{ partido.slotsOcupados }} / {{ partido.slotsTotales }}</td>
      <td>{{ partido.sexo }}</td>
    </tr>
  </table>
</ion-content>
