<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Partidos disponibles</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">
	<div class="blk-card">
		<div *ngFor="let partido of partidos" class="opcion-cancha">
			<ion-icon class="cancha-icon c-icon-ball" name="football"></ion-icon>
			<ion-icon class="cancha-icon c-icon-sexo" [name]="partido.iconName" [id]="iconColor" ></ion-icon>
			<div class="c-data">
				<p>{{ partido.cancha }}</p>
				<p>{{ partido.hora }}</p>
				<p>{{ partido.slotsOcupados }}/{{ partido.slotsTotales }}</p>
			</div>
			<ion-icon class="cancha-icon bt-okngo" name="caret-forward-outline"></ion-icon>
		</div>
	</div>
	
	<table class="table-data-container">
		<tr class="t-header">
		<th>Canchas</th>
		<th>Info</th>
		<th>Sexo</th>
		</tr>
					<tr *ngFor="let partido of partidos" class="blk-card">
						<td><b class="nombre-cancha">{{ partido.cancha }}</b> <br>
							({{ partido.direccion }})</td>
						<td>{{ partido.hora }}<br>
							{{ partido.slotsOcupados }}/{{ partido.slotsTotales }}</td>
						<td><ion-icon class="icon" [name]="partido.iconName" [id]="iconColor" ></ion-icon></td>
					</tr>
	</table>

  	<div id="perfil-container">
		<div class="opcion-card" (click)="irAlHistorial()">
			<ion-icon class="perfil-icon" name="map"></ion-icon>
			<p>Ver en mapa</p>
		</div>
		<div class="opcion-card" (click)="irAlInicio()">
			<ion-icon class="perfil-icon bt-enabled" name="home"></ion-icon>
			<p>Mismo sexo</p>
		</div>
		<div class="opcion-card" (click)="irAlEditar()">
			<ion-icon class="perfil-icon" name="refresh-circle"></ion-icon>
			<p>Recargar</p>
		</div>
	</div>
</ion-content>
