#icon-hombre { color: rgb(80, 172, 80); }
#icon-mujer { color: #d86315; }
#icon-nobin { color: #b452b4; }

#slot-disponible { color: rgb(80, 172, 80); }
#slot-popular { color: #eba930; }
#slot-ocupado { color: red; }

.icon {
  font-size: 30px;
}

#refresh-icon {
  font-size: 40px;
  color: lime;
}

#perfil-container {
	display: flex;
	padding: 1% 2%;
}

.perfil-icon {
	width: 40px;
	height: 40px;
	padding: 0;
	color: #222;
}