:host {
    ion-content.background{
      --background: #777;
    }
  }
  
  h1{
    color: white;
  }
  
  p{
    font-size: 16px;
    color: white;
    text-align:center;
    text-justify: center;
    padding: 0px 20px;
  }
  