@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts very piolas to stylize the wea */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

/* Variables de la paleta de colores */
$yellow-text: rgba(255, 253, 116, 0.8);
$bt-sh-yellow: rgba(255, 251, 0, 0.3); 
$bt-sh-black: rgba(60, 60, 60, 0.6);


ion-content {
	font-family: "Karla", Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	&.background{
		//--background: url('assets/imgs/background/dot-blue-bg.jpg') 0 0/100% 100% no-repeat;
		--background: #222;
	}
}

ion-toolbar {
	--background: #222;
	--color: white;
	--border-width: 1px;
	--border-color: #222;
}

hr {
	width: 80%;
	border-width: 0px;
	background-color: rgba(255, 251, 0, 0.3);
	box-shadow: 0px 0px 8px rgb(255, 251, 0);
}






.blk-card {
	margin: 10px 2%;
	padding: 5px 2%;
	background: #17171700;
	border-radius: 10px;
}

.blk-card h3 {
	color: white;
	font-size: 24px;
	margin: 0;
	padding: 5px 0px 5px 25px;
	text-align: left;
}

.blk-card p {
	margin: 0;
	font-size: 20px;
}

.blk-halfcard {
	background: none;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 5px 1%;
} 



// SECCIÓN PARA LOS MODALS DE AYUDA

.modal-css .modal-wrapper{
	--border-radius: 20px; 
	--height: 75%;
	width: 90%;
}


// SECCIÓN PARA LAS CLASES DE LOS INPUTS 

:root {
	// check https://ionicframework.com/docs/api/input#css-custom-properties
	ion-input, ion-datetime, ion-select {
		--placeholder-color: rgba(0, 0, 0, 0.5);
		--placeholder-opacity: 1;
		font-family: 'Karla';
		font-size: 18px;
		width: 90%;
	}
	
	ion-datetime{
		height: 50px;
		background: white;
		border-radius: 5px;
		line-height: 1.7;
	}
	
	ion-item-options {
		margin-top: 2%;
		height: 82%;
		width: 4.5rem;
	}
}

.i-text {
	border-radius: 5px;
	margin: 10px 5%;
}








// SECCIÓN PARA LAS CLASES DE LOS BOTONES NEON

@keyframes gradient {
	0% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0 ) 0%, #222 0%, #222 100%);}
	10% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0.1 ) 10%, #222 10%, #222 100%);}
	20% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0.2 ) 20%, #222 20%, #222 100%);}
	30% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0.3 ) 30%, #222 30%, #222 100%);}
	40% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0.4 ) 40%, #222 40%, #222 100%);}
	50% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0.5 ) 50%, #222 50%, #222 100%);}
	60% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0.6 ) 60%, #222 60%, #222 100%);}
	70% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0.7 ) 70%, #222 70%, #222 100%);}
	80% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0.8 ) 80%, #222 80%, #222 100%);}
	100% {background: radial-gradient(circle at center, rgba( 72, 255, 0, 0.8 ) 99%, #222 100%, #222 100%);}
}

.bt-round { // forma redondeada genérica
    border-radius: 24px;
	background: rgba(255, 255, 255, 0.08);
}

.bt-modern {
	height: 60px;
	margin: 0;
	background: radial-gradient(circle, rgba(90, 89, 30, 0.2) 60%, #222 100%);
	border-radius: 5px;
}

.bt-modern:active {
	animation: gradient 200ms;
	width: 95%;
	color: black;
}

.bt-triple { // comparte fila con 2 botones más
	height: 50px;
	margin: 4% 2%;
	width: 25%;
}

.bt-half { // comparte fila con otro botón
	height: 50px;
	margin: 4% 2%;
	width: 80%;
}

.bt-text{ // texto interno del botón
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 3px;
}

.bt-text-half{ // texto interno del botón
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 2px;
}

.bt-icon{ // icono que acompaña texto del botón
	font-size: 38px;
	padding-right: 15px;
}

#hr-cancel {
	background-color: rgba(255, 94, 0, 0.45);
	box-shadow: 0px 0px 8px rgb(255, 153, 0);
}

#hr-ok {
	background-color: rgba(60, 255, 0, 0.3);
	box-shadow: 0px 0px 8px rgb(0, 255, 13);
}


.perfil-container {
	display: flex;
	height: 15%;
	padding: 0;
	margin: 0 5%;
}
.perfil-icon {
	width: 40px;
	height: 40px;
	padding: 10px;
	margin: 2px;
	color: rgb(255, 255, 255);
	background: radial-gradient(circle, #555 30%, #373737 90%);
	border-radius: 50%;
	//box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

.opcion-card {
	background: rgba(255, 255, 255, 0);
	width: 28%;
	margin: auto;
	justify-content: space-evenly;
	padding: 0px;
	border-radius: 10px;
}

.opcion-card p {
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: white;
}




// SECCIÓN PARA LAS CARDS DE LOS PARTIDOS

.lista-partidos {
	overflow: scroll;
}
.opcion-cancha {
	//background: url('/assets/imgs/background/bt-bg-png.png') 0 0/100% 100% no-repeat;
	//background: radial-gradient(circle, #fff 70%, #ccc 100%);
	background: radial-gradient(circle, #fff 50%, #ccc 100%);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
	width: 98%;
	height: 4rem;
	margin: 5px auto;
	padding: 0;
	border-radius: 5px;
	display: flex;
}
.opcion-cancha p {
	color: black;
	padding: 0;
	margin: 0;
	text-align: left;
	font-size: 20px;
}
.cancha-icon {
	width: 40px;
	height: 40px;
	padding: 0px 0px 0px 20px;
	margin: auto 0px;
	z-index: 5;
}
.cancha-data {
	position: absolute;
	left: 5rem;
	margin-top: 6px;
}
#cancha-nombre {
	font-weight: 900;
	font-family: 'Karla', Verdana, sans-serif;
}
#cancha-details {
	letter-spacing: 3pt;
	color: #777;
}
#slots-ocupados {
	color: red;
}

.ic-sexo  {
	position: absolute;
	left: -1.9rem;
	margin-top: 0px;
}

.flamas {
	position: absolute;
	transform: rotate(270deg);
	width: 200px;
	left: 120px;
	opacity: 0;
}

#flama {
	opacity: 0.15;
}

.stars {
	display: flex;
}

.star {
	height: 20px;
	width: 20px;
}