@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

.modal-css .modal-wrapper{
    --border-radius: 10px; 
    --height: 75%;
    width: 90%;
}

ion-content.background{
	--background: url('assets/imgs/background/dot-blue-bg.jpg') 0 0/100% 100% no-repeat;
}

ion-content {
	font-family: "Karla", Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}



.boton{
	width: 70px;
	margin: auto;
	height: 40px;
	font-weight: bold;
	--background: var(--ion-color-danger, #eb445a);
}



ion-button {
	height: 50px;
	width: 80%;
	font-size: 24px;
	margin: auto;
	font-family: 'Rubik', sans-serif;
}

ion-input, ion-item, ion-select, ion-label,ion-datetime {
	background: none;
	background-color: transparent;
	/* color: rgb(78, 28, 214); */
	color: blue;
	opacity: 100%;
}

.box {
	background-color: rgb(245, 245, 245);
	margin: auto;
	margin-bottom: 10px; 
	border-radius: 15px;
	width: 80%;
	line-height: 1.5;
	font-size: 16px;
	font-weight: bold;

}

.button-medio{
	display: inline-block;
	width: 37%;
}

.box-fecha {
	margin-right: 13%;
	line-height: 1.5;
}