@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts very piolas to stylize the wea */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

/* Variables de la paleta de colores */
$yellow-text: rgba(255, 253, 116, 0.8);
$bt-sh-yellow: rgba(255, 251, 0, 0.3); 
$bt-sh-black: rgba(60, 60, 60, 0.6);


ion-content {
	font-family: "Karla", Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	&.background{
		//--background: url('assets/imgs/background/dot-blue-bg.jpg') 0 0/100% 100% no-repeat;
		--background: #222;
	}
}

ion-toolbar {
	--background: #222;
	--color: white;
	--border-width: 1px;
	--border-color: #222;
}

hr {
	width: 80%;
	border-width: 0px;
	background-color: rgba(255, 251, 0, 0.3);
	box-shadow: 0px 0px 8px rgb(255, 251, 0);
}






.blk-card {
	margin: 10px 4%;
	padding: 5px 0px;
	background: rgb(180,180,180);
	background: linear-gradient(0deg, rgb(212, 212, 212) 0%, rgba(255,255,255,1) 100%);
	border-radius: 5px;
}

.blk-card h3 {
	margin: 0;
	padding: 5px 0px 5px 25px;
	font-weight: bold;
	text-align: left;
}

.blk-card p {
	margin: 0;
	font-size: 16px;
}




// SECCIÓN PARA LOS MODALS DE AYUDA

.modal-css .modal-wrapper{
	--border-radius: 20px; 
	--height: 75%;
	width: 90%;
}


// SECCIÓN PARA LAS CLASES DE LOS INPUTS 

:root {
	// check https://ionicframework.com/docs/api/input#css-custom-properties
	ion-input, ion-datetime, ion-select {
		--placeholder-color: rgba(0, 0, 0, 0.5);
		--placeholder-opacity: 1;
		font-family: 'Karla';
		font-size: 18px;
		width: 90%;
	}
	
	ion-datetime{
		height: 50px;
		background: white;
		border-radius: 5px;
		line-height: 1.7;
	}
}

.i-text {
	border-radius: 5px;
	margin: 10px 5%;
}








// SECCIÓN PARA LAS CLASES DE LOS BOTONES

.bt-round { // forma redondeada genérica
    border-radius: 24px;
	background: rgba(255, 255, 255, 0.08);
}

.bt-modern {
	height: 60px;
	margin: 0;
	background: none;
}

.bt-triple { // comparte fila con 2 botones más
	height: 50px;
	margin: 4% 2%;
	width: 25%;
}

.bt-half { // comparte fila con otro botón
	height: 50px;
	margin: 4% 2%;
	width: 80%;
}

.bt-text{ // texto interno del botón
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 3px;
}

.bt-text-half{ // texto interno del botón
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 2px;
}

.bt-icon{ // icono que acompaña texto del botón
	color:white;
	font-size: 38px;
	padding-right: 15px;
}

#hr-cancel {
	background-color: rgba(255, 94, 0, 0.45);
	box-shadow: 0px 0px 8px rgb(255, 153, 0);
}

#hr-ok {
	background-color: rgba(60, 255, 0, 0.3);
	box-shadow: 0px 0px 8px rgb(0, 255, 13);
}

.opcion-card {
	background: white;
	width: 28%;
	margin: auto;
	justify-content: space-evenly;
	padding: 5px;
	border-radius: 10px;
}

.opcion-card p {
	padding: 0;
	margin: 0;
	font-size: 18px;
}




// SECCIÓN PARA LAS CARDS DE LOS PARTIDOS

.opcion-cancha {
	box-shadow: 2px 2px 8px rgba(131, 63, 0, 0.4);
	width: 95%;
	height: 72px;
	margin: auto;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 10px;
	display: flex;
}
.opcion-cancha p {
	padding: 0;
	margin: 0;
	text-align: left;
}

.cancha-icon {
	width: 40px;
	height: 40px;
	padding: 0px 10px;
	margin: auto 0px;
}

.bt-okngo {
	color: white;
	background-color: rgba(0, 255, 0, 0.3);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 50%;
	padding: 1px 0 1px 4px;
	margin-top: 8px;
	position: absolute;
	right: 40px;
}

.c-icon-ball {
	position: absolute;
	left: 5%;
	margin-top: 8px;
}

.c-icon-sexo  {
	position: absolute;
	left: 15%;
	margin-top: 8px;
}

.c-data {
	position: absolute;
	left: 30%;
	margin-top: 2px;
}