.match-data-container {
  padding: 10px 0px;
}

.match-data-container h3 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: auto;
}

.star {
	width: 30px;
}

.stars{
  display: flex;
}
