<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Tus últimos partidos</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">
	<ion-item *ngFor="let resultado of partidos" class="blk-card historial">
		<div *ngFor="let star of resultado.stars">
			<img *ngIf="star === 'full'" class="star" [src]="'/assets/stars/star-full.png'">
			<img *ngIf="star === 'half'" class="star" [src]="'/assets/stars/star-half.png'">
			<img *ngIf="star === 'null'" class="star" [src]="'/assets/stars/star-null.png'">
		</div>
	<br>
		<div class="match-data-container">
			<h3>{{resultado.partido.resultado}}</h3>
			<h3>{{resultado.partido.fecha}}</h3>
		</div>
	</ion-item>
</ion-content>
