<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Historial</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">
	<!--ion-refresher slot="fixed" (ionRefresh)="actualizarListado($event)" >
		<ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
	</ion-refresher-->

	<ion-item *ngFor="let resultado of partidos" class="blk-card">
		<div *ngFor="let star of resultado.stars">
			<img *ngIf="star === 'full'" class="star" [src]="'/assets/stars/star-full.png'">
			<img *ngIf="star === 'half'" class="star" [src]="'/assets/stars/star-half.png'">
			<img *ngIf="star === 'null'" class="star" [src]="'/assets/stars/star-null.png'">
		</div>
	<br>
		<div>
			<div class="ion-text-start">
				<h3>{{resultado.partido.resultado}}</h3>
			</div>
			<div class="ion-text-end fecha">
				<h3>{{resultado.partido.fecha}}</h3>
			</div>
		</div>
	</ion-item>
</ion-content>
