<ion-header>
  <ion-toolbar>
    <ion-title>mercado-pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form-checkout" >
    <input type="text" name="cardNumber" id="form-checkout__cardNumber" />
    <input type="text" name="cardExpirationMonth" id="form-checkout__cardExpirationMonth" />
    <input type="text" name="cardExpirationYear" id="form-checkout__cardExpirationYear" />
    <input type="text" name="cardholderName" id="form-checkout__cardholderName"/>
    <input type="email" name="cardholderEmail" id="form-checkout__cardholderEmail"/>
    <input type="text" name="securityCode" id="form-checkout__securityCode" />
    <select name="issuer" id="form-checkout__issuer"></select>
    <select name="identificationType" id="form-checkout__identificationType"></select>
    <input type="text" name="identificationNumber" id="form-checkout__identificationNumber"/>
    <select name="installments" id="form-checkout__installments"></select>
    <button type="submit" id="form-checkout__submit">Pay</button>
 
    <progress value="0" class="progress-bar">loading...</progress>
  </form>

  <script src="https://sdk.mercadopago.com/js/v2"></script>
</ion-content>
